node_modules/
/.dotnet
/.vs
app-restore.log
components-build.log
/src/CropYieldTracker.Api/bin
/src/CropYieldTracker.Api/obj
/src/CropYieldTracker.Application/bin
/src/CropYieldTracker.Application/obj
/src/CropYieldTracker.Components/bin
/src/CropYieldTracker.Components/obj
/src/CropYieldTracker.Contracts/bin
/src/CropYieldTracker.Contracts/obj
/src/CropYieldTracker.Domain/bin
/src/CropYieldTracker.Domain/obj
/src/CropYieldTracker.Infrastructure/bin
/src/CropYieldTracker.Infrastructure/obj
/src/CropYieldTracker.Web/bin
/src/CropYieldTracker.Web/obj
webproj-restore.log
